.list__cards {
  width: 100%;
  margin-top: 1rem;

  padding: 2rem;
  box-shadow: 0.2rem 0.5rem 2.5rem -0.3rem rgba($grey, 0.25);
  border-radius: 0 0 2rem 2rem;

  display: flex;
  justify-content: space-between;

  @include breakpoint($extra-pc) {
    flex-wrap: wrap;
  }
}
